/*
    https://origamid.com/projetos/flexbox-guia-completo/
    https://www.w3schools.com/css/css_align.asp
    https://css-tricks.com/almanac/properties/b/border-radius/
*/

.container {
  margin: 30px auto;
  width: 90%;
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header {
  font-family: monospace;
  text-align: center;
  margin: 25px 0;
}

#border-object {
  width: 200px;
  height: 200px;
  background: linear-gradient(to bottom right, red, yellow);
}

.border-previewer,
.border-size,
.border-modifier {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}

.border-modifier,
.border-size {
  flex-direction: column;
}

.border-size-body {
  display: flex;
  flex-direction: row;
}

.border-size-input {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.border-size input {
  padding: 6px 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.border-modifier-header h2,
.border-size-input label {
  font-family: monospace;
}

.border-modifier-body {
  width: 50%;
}

.border-modifier-slider {
  margin: 10px;
}

.slider {
  appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04aa6d;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04aa6d;
  cursor: pointer;
}

#copy-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}

#copy-button button {
  width: 200px;
  background-color: #04aa6d;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-family: monospace;
  display: inline-block;
  border-radius: 12px;
  cursor: pointer;
}

#copy-button button:hover {
  transition-duration: 0.4s;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.24),
    0 17px 20px 0 rgba(0, 0, 0, 0.19);
}

#copy-button button:after {
  content: "";
  background: #90ee90;
  display: block;
  position: absolute;
  border-radius: 12px;
  padding-top: 10%;
  padding-left: 20%;
  margin-left: -32px !important;
  margin-top: -5%;
  opacity: 0;
  transition: all 0.8s;
}

#copy-button button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

#result {
  margin: 10px;
}